<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <div class="container">
            <h1>Evo Html to Pdf Test</h1>
            <p>
                <a class="btn btn-primary" href="~/home/basictest">Basic String Test</a>
                <a class="btn btn-primary" href="~/home/mvcviewtest">MVC View Test</a>
            </p>
        </div>
    </body>
</html>
